

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: lightblue;
}

* {
    width: 100%;
    margin: 0;
    border: none;
    color: white;
}



h1,
p {
    text-align: center;
    color: white;
}


#email-form {
    width: 400px;
    height: 385px;
    background-color: rgb(253, 72, 72);
    padding: 20px;
}

.input-field {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background-color: rgb(202, 48, 48);
    font-size: 10px;
}

.text-field {
    height: 100px;
    margin: 5px 0;
    background-color: rgb(202, 48, 48);
    font-size: 10px;

}

.submit-button {
    height: 60px;
    color: red;
    background-color: white;
    border-bottom: 3px solid rgb(202, 48, 48);
}

.list {
    background-color: rgb(202, 48, 48);
    height: 40px;
}

::placeholder {
    color: white;

}